<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371986136904-60c4hv1g862p4q22dfc1i0en786qkces.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371986136904-60c4hv1g862p4q22dfc1i0en786qkces</string>
	<key>API_KEY</key>
	<string>AIzaSyCPFt4KX858_0oyE5Du8C85XGuYu6Cydkw</string>
	<key>GCM_SENDER_ID</key>
	<string>371986136904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.min.store</string>
	<key>PROJECT_ID</key>
	<string>flutter-test-project-9c689</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-test-project-9c689.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371986136904:ios:e2d5b3422b29f839c93d7d</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-test-project-9c689-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>