name: Deploy to web
on:
  # Enable manual run
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to deploy web build"
        required: true
        default: "staging"
        type: choice
        options:
          - staging
          - prod

# Declare default permissions as read only.
permissions: read-all

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      # Set up Flutter.
      - name: Clone Flutter repository with channel
        uses: minpham-com/flutter-action@v2
        with:
          channel: stable
      - run: flutter doctor -v

      - name: Install web dependencies
        uses: actions/setup-node@v3
        with:
          node-version: "18"
      - run: npm install -g firebase-tools

      # Checkout code and get packages.
      - name: Checkout code
        uses: actions/checkout@v3
      - run: flutter pub get
      - run: cp .env.example .env
      
      - name: Generate Internationalizing
        run: flutter gen-l10n
      - run: flutter packages pub run build_runner build --delete-conflicting-outputs

      # Build and deploy (by default, to staging).
      - run: flutter build -v web --release
      - run: firebase deploy --only hosting:${{ github.event.inputs.environment || 'staging' }}
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
